<script>
  document.getElementById('next-button').addEventListener('click', function() {
    window.location.href = '/next-page';
  });
</script>
</div>

<script type="module" src="../assets/js/sidebar.js"></script>
<script>document.addEventListener("turbo:load", () => {
    Prism.highlightAll();
  });
  </script>
  <footer class="p-4 bg-gray-100 text-center">
    <button id="next-button" class="inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
      Next
    </button>
  </footer>
  

  
</body>

</html>